# Inventory Management Project

## Read Data from JSON

In [1]:
import json

In [2]:
fd = open("record_1.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [3]:
record

{'1001': {'name': 'Milk', 'pr': 40, 'qn': 30},
 '1002': {'name': 'cream', 'pr': 50, 'qn': 25},
 '1003': {'name': 'cheese', 'pr': 150, 'qn': 50},
 '1004': {'name': 'Strawberry', 'pr': 85, 'qn': 100},
 '1005': {'name': 'Butter', 'pr': 280, 'qn': 100},
 '1006': {'name': 'Egg', 'pr': 170, 'qn': 150},
 '1007': {'name': 'Coffee', 'pr': 100, 'qn': 180},
 '1008': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1009': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1010': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1011': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1012': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1013': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1014': {'name': 'Mic', 'pr': 1500, 'qn': 30},
 '1015': {'name': 'Lamps', 'pr': 350, 'qn': 50},
 '1016': {'name': 'Mirror', 'pr': 70, 'qn': 20},
 '1017': {'name': 'pans', 'pr': 100, 'qn': 30},
 '1018': {'name': 'Glasses', 'pr': 350, 'qn': 10},
 '1019': {'name': 'Toys', 'pr': 150, 'qn': 25},
 '1020': {'name': 'Books', 'pr': 35, 'qn': 50},
 '1021': {'name': 'Toothbrush', 'pr': 20, 'qn': 100},
 '1022': {'name': 'Toothpaste', 'pr': 20, 'qn': 100},
 '1023': {'name': 'Markerpens(black)', 'pr': 15, 'qn': 50},
 '1024': {'name': 'Markerpens(red)', 'pr': 15, 'qn': 50},
 '1025': {'name': 'Markerpens(blue)', 'pr': 15, 'qn': 50},
 '1026': {'name': 'Bottles', 'pr': 20, 'qn': 20},
 '1027': {'name': 'Staples', 'pr': 45, 'qn': 10},
 '1028': {'name': 'Eraser', 'pr': 10, 'qn': 20}}

## Add New Item into Inventory

In [4]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record_1.json",'w')

fd.write(js)
fd.close()

Enter product id:1029
Enter name:Ballpointpens
Enter price:10
Enter quantity:20

In [5]:
record

{'1001': {'name': 'Milk', 'pr': 40, 'qn': 30},
 '1002': {'name': 'cream', 'pr': 50, 'qn': 25},
 '1003': {'name': 'cheese', 'pr': 150, 'qn': 50},
 '1004': {'name': 'Strawberry', 'pr': 85, 'qn': 100},
 '1005': {'name': 'Butter', 'pr': 280, 'qn': 100},
 '1006': {'name': 'Egg', 'pr': 170, 'qn': 150},
 '1007': {'name': 'Coffee', 'pr': 100, 'qn': 180},
 '1008': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1009': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1010': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1011': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1012': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1013': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1014': {'name': 'Mic', 'pr': 1500, 'qn': 30},
 '1015': {'name': 'Lamps', 'pr': 350, 'qn': 50},
 '1016': {'name': 'Mirror', 'pr': 70, 'qn': 20},
 '1017': {'name': 'pans', 'pr': 100, 'qn': 30},
 '1018': {'name': 'Glasses', 'pr': 350, 'qn': 10},
 '1019': {'name': 'Toys', 'pr': 150, 'qn': 25},
 '1020': {'name': 'Books', 'pr': 35, 'qn': 50},
 '1021': {'name': 'Toothbrush', 'pr': 20, 'qn': 100},
 '1022': {'name': 'Toothpaste', 'pr': 20, 'qn': 100},
 '1023': {'name': 'Markerpens(black)', 'pr': 15, 'qn': 50},
 '1024': {'name': 'Markerpens(red)', 'pr': 15, 'qn': 50},
 '1025': {'name': 'Markerpens(blue)', 'pr': 15, 'qn': 50},
 '1026': {'name': 'Bottles', 'pr': 20, 'qn': 20},
 '1027': {'name': 'Staples', 'pr': 45, 'qn': 10},
 '1028': {'name': 'Eraser', 'pr': 10, 'qn': 20},
 '1029': {'name': 'Ballpointpens', 'pr': 10, 'qn': 20}}

In [6]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record_1.json",'w')
fd.write(js)
fd.close()

Enter product id:1030
Enter name:Calculator
Enter price:250
Enter quantity:30

In [7]:
record

{'1001': {'name': 'Milk', 'pr': 40, 'qn': 30},
 '1002': {'name': 'cream', 'pr': 50, 'qn': 25},
 '1003': {'name': 'cheese', 'pr': 150, 'qn': 50},
 '1004': {'name': 'Strawberry', 'pr': 85, 'qn': 100},
 '1005': {'name': 'Butter', 'pr': 280, 'qn': 100},
 '1006': {'name': 'Egg', 'pr': 170, 'qn': 150},
 '1007': {'name': 'Coffee', 'pr': 100, 'qn': 180},
 '1008': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1009': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1010': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1011': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1012': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1013': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1014': {'name': 'Mic', 'pr': 1500, 'qn': 30},
 '1015': {'name': 'Lamps', 'pr': 350, 'qn': 50},
 '1016': {'name': 'Mirror', 'pr': 70, 'qn': 20},
 '1017': {'name': 'pans', 'pr': 100, 'qn': 30},
 '1018': {'name': 'Glasses', 'pr': 350, 'qn': 10},
 '1019': {'name': 'Toys', 'pr': 150, 'qn': 25},
 '1020': {'name': 'Books', 'pr': 35, 'qn': 50},
 '1021': {'name': 'Toothbrush', 'pr': 20, 'qn': 100},
 '1022': {'name': 'Toothpaste', 'pr': 20, 'qn': 100},
 '1023': {'name': 'Markerpens(black)', 'pr': 15, 'qn': 50},
 '1024': {'name': 'Markerpens(red)', 'pr': 15, 'qn': 50},
 '1025': {'name': 'Markerpens(blue)', 'pr': 15, 'qn': 50},
 '1026': {'name': 'Bottles', 'pr': 20, 'qn': 20},
 '1027': {'name': 'Staples', 'pr': 45, 'qn': 10},
 '1028': {'name': 'Eraser', 'pr': 10, 'qn': 20},
 '1029': {'name': 'Ballpointpens', 'pr': 10, 'qn': 20},
 '1030': {'name': 'Calculator', 'pr': 250, 'qn': 30}}

In [8]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
if prod_id in record:
    record[prod_id] = {'name': name, 'pr': pr,'qn':qn + record[prod_id]['qn']}
    
else:
    record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

    

fd = open("record_1.json",'w')
fd.write(js)
fd.close()

Enter product id:1031
Enter name:Sharpner
Enter price:10
Enter quantity:30

In [9]:
record

{'1001': {'name': 'Milk', 'pr': 40, 'qn': 30},
 '1002': {'name': 'cream', 'pr': 50, 'qn': 25},
 '1003': {'name': 'cheese', 'pr': 150, 'qn': 50},
 '1004': {'name': 'Strawberry', 'pr': 85, 'qn': 100},
 '1005': {'name': 'Butter', 'pr': 280, 'qn': 100},
 '1006': {'name': 'Egg', 'pr': 170, 'qn': 150},
 '1007': {'name': 'Coffee', 'pr': 100, 'qn': 180},
 '1008': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1009': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1010': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1011': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1012': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1013': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1014': {'name': 'Mic', 'pr': 1500, 'qn': 30},
 '1015': {'name': 'Lamps', 'pr': 350, 'qn': 50},
 '1016': {'name': 'Mirror', 'pr': 70, 'qn': 20},
 '1017': {'name': 'pans', 'pr': 100, 'qn': 30},
 '1018': {'name': 'Glasses', 'pr': 350, 'qn': 10},
 '1019': {'name': 'Toys', 'pr': 150, 'qn': 25},
 '1020': {'name': 'Books', 'pr': 35, 'qn': 50},
 '1021': {'name': 'Toothbrush', 'pr': 20, 'qn': 100},
 '1022': {'name': 'Toothpaste', 'pr': 20, 'qn': 100},
 '1023': {'name': 'Markerpens(black)', 'pr': 15, 'qn': 50},
 '1024': {'name': 'Markerpens(red)', 'pr': 15, 'qn': 50},
 '1025': {'name': 'Markerpens(blue)', 'pr': 15, 'qn': 50},
 '1026': {'name': 'Bottles', 'pr': 20, 'qn': 20},
 '1027': {'name': 'Staples', 'pr': 45, 'qn': 10},
 '1028': {'name': 'Eraser', 'pr': 10, 'qn': 20},
 '1029': {'name': 'Ballpointpens', 'pr': 10, 'qn': 20},
 '1030': {'name': 'Calculator', 'pr': 250, 'qn': 30},
 '1031': {'name': 'Sharpner', 'pr': 10, 'qn': 30}}

In [10]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
if prod_id in record:
    record[prod_id] = {'name': name, 'pr': pr,'qn':qn + record[prod_id]['qn']}
    
else:
    record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

    

fd = open("record_1.json",'w')
fd.write(js)
fd.close()

Enter product id:1026
Enter name:Bottles
Enter price:20
Enter quantity:30

In [11]:
record

{'1001': {'name': 'Milk', 'pr': 40, 'qn': 30},
 '1002': {'name': 'cream', 'pr': 50, 'qn': 25},
 '1003': {'name': 'cheese', 'pr': 150, 'qn': 50},
 '1004': {'name': 'Strawberry', 'pr': 85, 'qn': 100},
 '1005': {'name': 'Butter', 'pr': 280, 'qn': 100},
 '1006': {'name': 'Egg', 'pr': 170, 'qn': 150},
 '1007': {'name': 'Coffee', 'pr': 100, 'qn': 180},
 '1008': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1009': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1010': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1011': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1012': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1013': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1014': {'name': 'Mic', 'pr': 1500, 'qn': 30},
 '1015': {'name': 'Lamps', 'pr': 350, 'qn': 50},
 '1016': {'name': 'Mirror', 'pr': 70, 'qn': 20},
 '1017': {'name': 'pans', 'pr': 100, 'qn': 30},
 '1018': {'name': 'Glasses', 'pr': 350, 'qn': 10},
 '1019': {'name': 'Toys', 'pr': 150, 'qn': 25},
 '1020': {'name': 'Books', 'pr': 35, 'qn': 50},
 '1021': {'name': 'Toothbrush', 'pr': 20, 'qn': 100},
 '1022': {'name': 'Toothpaste', 'pr': 20, 'qn': 100},
 '1023': {'name': 'Markerpens(black)', 'pr': 15, 'qn': 50},
 '1024': {'name': 'Markerpens(red)', 'pr': 15, 'qn': 50},
 '1025': {'name': 'Markerpens(blue)', 'pr': 15, 'qn': 50},
 '1026': {'name': 'Bottles', 'pr': 20, 'qn': 50},
 '1027': {'name': 'Staples', 'pr': 45, 'qn': 10},
 '1028': {'name': 'Eraser', 'pr': 10, 'qn': 20},
 '1029': {'name': 'Ballpointpens', 'pr': 10, 'qn': 20},
 '1030': {'name': 'Calculator', 'pr': 250, 'qn': 30},
 '1031': {'name': 'Sharpner', 'pr': 10, 'qn': 30}}