# Inventory Management Project

## Read Inventory

In [1]:
import json

fd = open("record_1.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [2]:
records

{'1001': {'name': 'Milk', 'pr': 40, 'qn': 30},
 '1002': {'name': 'cream', 'pr': 50, 'qn': 25},
 '1003': {'name': 'cheese', 'pr': 150, 'qn': 50},
 '1004': {'name': 'Strawberry', 'pr': 85, 'qn': 100},
 '1005': {'name': 'Butter', 'pr': 280, 'qn': 100},
 '1006': {'name': 'Egg', 'pr': 170, 'qn': 150},
 '1007': {'name': 'Coffee', 'pr': 100, 'qn': 180},
 '1008': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1009': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1010': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1011': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1012': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1013': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1014': {'name': 'Mic', 'pr': 1500, 'qn': 30},
 '1015': {'name': 'Lamps', 'pr': 350, 'qn': 50},
 '1016': {'name': 'Mirror', 'pr': 70, 'qn': 20},
 '1017': {'name': 'pans', 'pr': 100, 'qn': 30},
 '1018': {'name': 'Glasses', 'pr': 350, 'qn': 10},
 '1019': {'name': 'Toys', 'pr': 150, 'qn': 25},
 '1020': {'name': 'Books', 'pr': 35, 'qn': 50},
 '1021': {'name': 'Toothbrush', 'pr': 20, 'qn': 100},
 '1022': {'name': 'Toothpaste', 'pr': 20, 'qn': 100},
 '1023': {'name': 'Markerpens(black)', 'pr': 15, 'qn': 50},
 '1024': {'name': 'Markerpens(red)', 'pr': 15, 'qn': 50},
 '1025': {'name': 'Markerpens(blue)', 'pr': 15, 'qn': 50},
 '1026': {'name': 'Bottles', 'pr': 20, 'qn': 20},
 '1027': {'name': 'Staples', 'pr': 45, 'qn': 10},
 '1028': {'name': 'Eraser', 'pr': 10, 'qn': 20},
 '1029': {'name': 'Ballpointpens', 'pr': 10, 'qn': 20},
 '1030': {'name': 'Calculator', 'pr': 250, 'qn': 30},
 '1031': {'name': 'Sharpner', 'pr': 10, 'qn': 5}}

## Purchase

In [3]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1001
Enter the quantity: 20
Product:  Milk
Price:  40
Billing Amount:  800

## Update Inventory after purchase

In [4]:
js = json.dumps(records)

fd = open("record_1.json",'w')
fd.write(js)
fd.close()

In [5]:
sales = {}

In [7]:
sales = {}
for i in range(10):
    ui_prod  = str(input("Enter the product_Id: "))
    ui_quant = int(input("Enter the quantity: "))
    if(records[ui_prod]['qn'] >=ui_quant):
        print("Product: ", records[ui_prod]['name'])
        print("Price: ", records[ui_prod]['pr'])
        print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)
        sales[str(i)] = {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}
        print(sales)
    
        records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant
    else:
        print("WE DONT HAVE THAT MUCH QUANTITY")

Enter the product_Id: 1007
Enter the quantity: 20
Product:  Coffee
Price:  100
Billing Amount:  2000
{'0': {'prod': '1007', 'qn': 20, 'amount': 2000}}
Enter the product_Id: 1020
Enter the quantity: 25
Product:  Books
Price:  35
Billing Amount:  875
{'0': {'prod': '1007', 'qn': 20, 'amount': 2000}, '1': {'prod': '1020', 'qn': 25, 'amount': 875}}
Enter the product_Id: 1017
Enter the quantity: 15
Product:  pans
Price:  100
Billing Amount:  1500
{'0': {'prod': '1007', 'qn': 20, 'amount': 2000}, '1': {'prod': '1020', 'qn': 25, 'amount': 875}, '2': {'prod': '1017', 'qn': 15, 'amount': 1500}}
Enter the product_Id: 1022
Enter the quantity: 40
Product:  Toothpaste
Price:  20
Billing Amount:  800
{'0': {'prod': '1007', 'qn': 20, 'amount': 2000}, '1': {'prod': '1020', 'qn': 25, 'amount': 875}, '2': {'prod': '1017', 'qn': 15, 'amount': 1500}, '3': {'prod': '1022', 'qn': 40, 'amount': 800}}
Enter the product_Id: 1008
Enter the quantity: 5
Product:  Choco Cake
Price:  100
Billing Amount:  500
{'0': {'prod': '1007', 'qn': 20, 'amount': 2000}, '1': {'prod': '1020', 'qn': 25, 'amount': 875}, '2': {'prod': '1017', 'qn': 15, 'amount': 1500}, '3': {'prod': '1022', 'qn': 40, 'amount': 800}, '4': {'prod': '1008', 'qn': 5, 'amount': 500}}
Enter the product_Id: 1011
Enter the quantity: 500
Product:  Candy
Price:  5
Billing Amount:  2500
{'0': {'prod': '1007', 'qn': 20, 'amount': 2000}, '1': {'prod': '1020', 'qn': 25, 'amount': 875}, '2': {'prod': '1017', 'qn': 15, 'amount': 1500}, '3': {'prod': '1022', 'qn': 40, 'amount': 800}, '4': {'prod': '1008', 'qn': 5, 'amount': 500}, '5': {'prod': '1011', 'qn': 500, 'amount': 2500}}
Enter the product_Id: 1022
Enter the quantity: 6
Product:  Toothpaste
Price:  20
Billing Amount:  120
{'0': {'prod': '1007', 'qn': 20, 'amount': 2000}, '1': {'prod': '1020', 'qn': 25, 'amount': 875}, '2': {'prod': '1017', 'qn': 15, 'amount': 1500}, '3': {'prod': '1022', 'qn': 40, 'amount': 800}, '4': {'prod': '1008', 'qn': 5, 'amount': 500}, '5': {'prod': '1011', 'qn': 500, 'amount': 2500}, '6': {'prod': '1022', 'qn': 6, 'amount': 120}}
Enter the product_Id: 1010
Enter the quantity: 7
Product:  Drink
Price:  85
Billing Amount:  595
{'0': {'prod': '1007', 'qn': 20, 'amount': 2000}, '1': {'prod': '1020', 'qn': 25, 'amount': 875}, '2': {'prod': '1017', 'qn': 15, 'amount': 1500}, '3': {'prod': '1022', 'qn': 40, 'amount': 800}, '4': {'prod': '1008', 'qn': 5, 'amount': 500}, '5': {'prod': '1011', 'qn': 500, 'amount': 2500}, '6': {'prod': '1022', 'qn': 6, 'amount': 120}, '7': {'prod': '1010', 'qn': 7, 'amount': 595}}
Enter the product_Id: 1016
Enter the quantity: 10
Product:  Mirror
Price:  70
Billing Amount:  700
{'0': {'prod': '1007', 'qn': 20, 'amount': 2000}, '1': {'prod': '1020', 'qn': 25, 'amount': 875}, '2': {'prod': '1017', 'qn': 15, 'amount': 1500}, '3': {'prod': '1022', 'qn': 40, 'amount': 800}, '4': {'prod': '1008', 'qn': 5, 'amount': 500}, '5': {'prod': '1011', 'qn': 500, 'amount': 2500}, '6': {'prod': '1022', 'qn': 6, 'amount': 120}, '7': {'prod': '1010', 'qn': 7, 'amount': 595}, '8': {'prod': '1016', 'qn': 10, 'amount': 700}}
Enter the product_Id: 1015
Enter the quantity: 20
Product:  Lamps
Price:  350
Billing Amount:  7000
{'0': {'prod': '1007', 'qn': 20, 'amount': 2000}, '1': {'prod': '1020', 'qn': 25, 'amount': 875}, '2': {'prod': '1017', 'qn': 15, 'amount': 1500}, '3': {'prod': '1022', 'qn': 40, 'amount': 800}, '4': {'prod': '1008', 'qn': 5, 'amount': 500}, '5': {'prod': '1011', 'qn': 500, 'amount': 2500}, '6': {'prod': '1022', 'qn': 6, 'amount': 120}, '7': {'prod': '1010', 'qn': 7, 'amount': 595}, '8': {'prod': '1016', 'qn': 10, 'amount': 700}, '9': {'prod': '1015', 'qn': 20, 'amount': 7000}}

In [8]:
print(sales)

{'0': {'prod': '1007', 'qn': 20, 'amount': 2000}, '1': {'prod': '1020', 'qn': 25, 'amount': 875}, '2': {'prod': '1017', 'qn': 15, 'amount': 1500}, '3': {'prod': '1022', 'qn': 40, 'amount': 800}, '4': {'prod': '1008', 'qn': 5, 'amount': 500}, '5': {'prod': '1011', 'qn': 500, 'amount': 2500}, '6': {'prod': '1022', 'qn': 6, 'amount': 120}, '7': {'prod': '1010', 'qn': 7, 'amount': 595}, '8': {'prod': '1016', 'qn': 10, 'amount': 700}, '9': {'prod': '1015', 'qn': 20, 'amount': 7000}}

## Sales JSON

In [ ]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

In [ ]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}

In [9]:
sales = json.dumps(sales)

In [10]:
sales

'{"0": {"prod": "1007", "qn": 20, "amount": 2000}, "1": {"prod": "1020", "qn": 25, "amount": 875}, "2": {"prod": "1017", "qn": 15, "amount": 1500}, "3": {"prod": "1022", "qn": 40, "amount": 800}, "4": {"prod": "1008", "qn": 5, "amount": 500}, "5": {"prod": "1011", "qn": 500, "amount": 2500}, "6": {"prod": "1022", "qn": 6, "amount": 120}, "7": {"prod": "1010", "qn": 7, "amount": 595}, "8": {"prod": "1016", "qn": 10, "amount": 700}, "9": {"prod": "1015", "qn": 20, "amount": 7000}}'

In [11]:
fd = open("sales.json",'w')
fd.write(sales)
fd.close()